<fuse-widget >
    <!-- Front -->

    <div class="fuse-widget-front h-auto" >
        <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="space-between center">
            <div class="h3">first
            </div>
            <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button" aria-label="more">
                <mat-icon>more_vert</mat-icon>
            </button>
        </div>

        <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
            <h1> front</h1>
        </div>
    </div>
    <!-- / Front -->

    <!-- Back -->
    <div class="fuse-widget-back p-16 pt-32">
        <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button" aria-label="Flip widget">
            <mat-icon class="s-16">close</mat-icon>
        </button>
        <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
            <h1> back</h1>
        </div>
    </div>
    <!-- / Back -->  
</fuse-widget>