:host {

    .content {

        form {
            width: 50%;
            max-width: 50% !important;
            text-align: center;
            align-self: center;
        }

        .form-errors-model {
            flex: 1;

            code {
                background: none !important;
            }
        }

        .horizontal-stepper-wrapper,
        .vertical-stepper-wrapper {
            max-width: 800px;
        }
    }
}