:host {

    .cont {

        form {
            width: 50%;
            max-width: 50% !important;
            text-align: center;
            margin-left: auto !important;
            margin-right: auto !important;
        }

        .form-errors-model {
            flex: 1;

            code {
                background: none !important;
            }
        }

        .horizontal-stepper-wrapper,
        .vertical-stepper-wrapper {
            max-width: 800px;
        }

        mat-card-content{
            font-size: 20px;
        }
    }
}