.control-section {
    margin:10px;
    width: 100%;
<<<<<<< HEAD
    position: initial;
    
=======
    position: relative;
    display: flex;
    flex: 1 1 auto;
    overflow:auto;
>>>>>>> ec6d48a872f0600821f9a8c7ed727bdab40ae3de
}

#defaultLayout {
    padding: 50px;
}

#defaultLayout .e-panel .e-panel-container {
    vertical-align: middle;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
}

.content {
    line-height: 190px;
    overflow:auto;
}
.widget{
    overflow: auto;
   
}
.e1{
    display: none;
}
