

<div class="control-section" >
         <ejs-dashboardlayout id='first' #editLayout  [columns]='5' [allowResizing]='true' [cellAspectRatio]='1' [cellSpacing]='cellSpacing' [showGridLines]='showGridLines' [draggableHandle]='draggableHandle'>
            <e-panels>

            <e-panel id="f-1" [sizeX]="1" [sizeY]="1"  [row]="0" [col]="0">
                <ng-template  #content>
                     <app-widget [title]='titles[0]' [allCount]='allCount[0]' [count]='count[0]' [back]='back[0]' [color]='color[0]' ></app-widget>
             </ng-template>  
            </e-panel>
                <e-panel id="f-2" [sizeX]="1" [sizeY]="1" [row]="1" [col]="0">
                    <ng-template #content >
                        <app-widget  [title]='titles[1]' [allCount]='allCount[1]' [count]='count[1]' [back]='back[1]' [color]='color[1]'></app-widget>
                    </ng-template>
                </e-panel>
           
                <e-panel id="tag-cloud-chart" [sizeX]="3" [sizeY]="1" [row]="0" [col]="1">
                    <ng-template #content>
                        <tag-cloud-chart></tag-cloud-chart>
                    </ng-template>
                </e-panel>
                <e-panel id="app-first-chart" [sizeX]="3" [sizeY]="1" [row]="2" [col]="1">
                    <ng-template #content>
                        <app-first-chart ></app-first-chart>
                    </ng-template>
                </e-panel>
            </e-panels>
        </ejs-dashboardlayout>
        </div>
  <!--
        <div class="control-section" >
       <ejs-dashboardlayout id='second'  [columns]='5' [allowResizing]='true' [cellSpacing]='cellSpacing' [showGridLines]='showGridLines'>
            <e-panels>
                <e-panel id=s-1 [sizeX]="2" [sizeY]="2" [row]="0" [col]="0">
                    <ng-template #content>
                         <app-widget [title]='titles[0]' [allCount]='57' [count]='count[0]' [back]='back[0]' [color]='color[0]' ></app-widget>
                    </ng-template>
                </e-panel>
                <e-panel id="s-2" [sizeX]="2" [sizeY]="2" [row]="0" [col]="2">
                    <ng-template #content>
                        <app-widget [title]='titles[1]' [allCount]='33' [count]='count[1]' [back]='back[1]' [color]='color[1]'></app-widget>
                    </ng-template>
                </e-panel>
                <e-panel id=s-3 [sizeX]="2" [sizeY]="2" [row]="2" [col]="0">
                    <ng-template #content>
                        <app-widget [title]='titles[0]' [allCount]='12' [count]='count[0]' [back]='back[0]' [color]='color[0]' ></app-widget>
                    </ng-template>
                 </e-panel>
                <e-panel id="s-4" [sizeX]="2" [sizeY]="2" [row]="2" [col]="2">
                     <ng-template #content>
                        <app-widget [title]='titles[1]' [allCount]='34' [count]='count[1]' [back]='back[1]' [color]='color[1]'></app-widget>
                     </ng-template>
                 </e-panel>
            </e-panels>
        </ejs-dashboardlayout> 
 
    </div> -->

