.control-section {
    margin:10px;
    width: 50%;
    position: initial;
    font-size: inherit;
}

#defaultLayout {
    padding: 50px;
}

#defaultLayout .e-panel .e-panel-container {
    vertical-align: middle;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
}

.content {
    line-height: 190px;
    overflow:auto;
}
.widget{
    overflow: auto;
   
}
.e1{
    display: none;
}