.firstONE{
    padding-top: 10px !important;
  }
  .urls{
    display: block !important
  }
  .buttontrans{
    background-color: transparent;
   border-style: none !important;
   padding: 0px !important;
  }
  .deleteText{
    // margin-left: 20px !important;
       color: red;
       cursor: pointer;
   }
   .addText{
    margin-left: 5px ;
    
    color:green ;
    cursor: pointer;

  }
  .Groub{
    border-style: dotted;

    border-color: rgba(0, 0, 0, 0.30);
    border-radius: 10px;
    margin-bottom: 10px;
    }