<div id="ngx-datatable" class="page-layout simple fullwidth docs">

    <!-- HEADER -->
    <div class="header accent p-24 h-100" fxLayout="row" fxLayoutAlign="start center">
        <div class="search-wrapper" fxFlex fxLayout="row" fxLayoutAlign="start center">

            <div class="search" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon>search</mat-icon>
                <input placeholder="Search" id="search" fxFlex  (keyup.enter)="fillTable()">
            </div>
        </div>
       
    </div>

    <!-- / HEADER -->
    <mat-card *ngIf="isLoading" 
    style="display: flex; justify-content: center; align-items: center">
        <mat-progress-spinner 
         color="primary" 
         mode="indeterminate">
        </mat-progress-spinner>
    </mat-card>
    <!-- CONTENT -->
    <div class="content p-24" *ngIf="isContnetShowed">

        <ngx-datatable
            class="material"
            [rows]="rows"
            [loadingIndicator]="loadingIndicator"
            [columnMode]="'force'"
            [headerHeight]="48"
            [footerHeight]="56"
            [rowHeight]="'auto'"
            [scrollbarH]="true"
            [reorderable]="reorderable"
            [selectionType]="'multi'"
            [limit]="10"
            [selected]="selected"
            [selectAllRowsOnPage]="false"
            
            (select)='onSelect($event)'>

            <ngx-datatable-column prop="selected" name="" [width]="30"
                                  [canAutoResize]="false"
                                  [sortable]="false"  [headerCheckboxable]= "false"
                                  [checkboxable]= "true" 
                                  [draggable]="false" [resizeable]="false"
                                  >
                <!--ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected"
                             let-selectFn="selectFn">
                    <mat-checkbox [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)"></mat-checkbox>
                </ng-template>

                <ng-template ngx-datatable-cell-template   let-isSelected="isSelected"
                             let-onCheckboxChangeFn="onCheckboxChangeFn">
                    <mat-checkbox  [checked]="isSelected" (change)="onCheckboxChangeFn($event)" (click)="postStatistics()" >
                  </mat-checkbox>
               
                </ng-template-->

            </ngx-datatable-column>
           <ngx-datatable-column name="base name" prop="base_name"></ngx-datatable-column>
           <ngx-datatable-column name="source name" prop="source_name"></ngx-datatable-column>
           <ngx-datatable-column name="base Url Classifications" prop="baseUrlClassifications"></ngx-datatable-column>
            <ngx-datatable-column name="content" prop="content"></ngx-datatable-column>


        </ngx-datatable>
  

<div style="text-align: center; margin-top: 10px;"><button mat-raised-button  class="primary mt-16 mt-sm-0" >Statistic</button></div>


    </div>
 
</div>

