@import "src/@fuse/scss/fuse";

error-404 {

    #error-404 {
        width: 100%;

        .content {
            width: 90%;
            max-width: 512px !important;

            

            .logo {
                width: 128px;
                margin: 32px auto;
            }
            .title {
                font-size: 20px;
                margin-top: 16px;
            }

            .subtitle {
                margin: 16px 0;
                max-width: 300px;
                color: rgba(0, 0, 0, 0.54);
                font-size: 15px;
            }
        }
    }
}